# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Describe data sets and sources of data
- Describe how to use the notebooks in JupyterLab
- Describe R capabilities and RStudio environment
- Explain version control and describe the Git and GitHub environment

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Tensorflow
3. ggplot2

|Data Science Tools|
|---------|
|kubernetes|
|Oracle Database|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

x = 200/60
print(x, "hours")

3.3333333333333335 hours

## Author

Jeremy Vicencio